* {
margin: 0;
padding: 0;
}
.css_gallery {

width: 950px; /* szerokosc najszerszego zdjęcia + szerokosc miniatur + 40px luzu */
position: relative;
overflow: hidden;
margin-left: 50px;
margin-top: 150px;
}
.css_gallery ul {
list-style-type: none;
width: 492px; /* szerokosc miniatur */
height: 575px; /* wysokosc najwyzszego zdjecia + miejsce na ewentualny opis zdjec */
overflow: auto;
padding: 0;
float: left;
margin: 0 0 0px 0;
}
.css_gallery li {
display: block;
width: 152px; /* szerokosc miniatury + ew. obramowanie obrazka */
height: 152px; /* wysokosc miniatury + ew. obramowanie obrazka */
padding: 5px 20px 5px 0;
margin: 0;
}
.css_gallery li img {
border: 1px solid #000;
max-width: 500px;
max-height: 500px;
}
.css_gallery li div {
display: none;
}
.css_gallery ul:hover li:first-child div {
display: none;
}
.css_gallery li:hover div
,.css_gallery ul li:first-child div
,.css_gallery ul li:first-child:hover div {
display: block;
position: absolute;
left: 550px; /* szerokosc <ul> + padding <ul> + 20px */
top: 180px;
}
.galeria_tlo{
	margin-top:40px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
}
